@font-face {
  font-family: 'Fondamento';
  font-style: normal;
  font-weight: 400;
  src: local('Fondamento Regular'), local('Fondamento-Regular'), url(../fonts/4UaHrEJGsxNmFTPDnkaJ96rp4g.ttf) format('truetype');
}
